Сырые данные о поездках в жёлтом такси можно найти на сайте TLC: www.nyc.gov/html/tlc/html/about/trip_record_data.shtml Эти данные разбиты на файлы по месяцам. В каждом из файлов содержится следующая информация о поездках:

* время начала поездки
* время окончания поездки
* долгота и широта точки начала поездки
* долгота и широта точки окончания поездки
* количество пассажиров
* расстояние по счётчику
* тип тарифа (одна из шести категорий)
* способ оплаты (одна из шести категорий)
* стоимость поездки по счётчику
* налог на счётчик
* доплата за поездки в пиковые часы и ночью
* доплата за проезд по платным дорогам
* доплата за проезд, взимаемая с каждой поездки с января 2015
* размер чаевых
* общая стоимость поездки
* провайдер данных (одна из двух категорий)
* бинарный флаг, показывающий, были ли данные о поездке получены немедленно после её окончания, или какое-то время хранились в памяти автомобиля.

Подробнее: http://www.nyc.gov/html/tlc/downloads/pdf/data_dictionary_trip_records_yellow.pdf

Задача проекта — научиться предсказывать количество поездок в ближайшие часы в каждом районе Нью-Йорка; для простоты мы определим прямоугольные районы. Для того, чтобы её решить, сырые данные необходимо агрегировать по часам и районам. Агрегированные данные будут представлять собой почасовые временные ряды с количествами поездок из каждого района.

Задачу прогнозирования таких рядов можно решать с помощью авторегрессионных моделей, прогнозируя каждый ряд независимо. Ряды явно имеют сложную сезонность — суточную, недельную и годовую, поэтому для их моделирования понадобится использовать модель ARIMA с дополнительной регрессией на внешние признаки.

Чтобы улучшить такую модель, можно попытаться учесть:

* взаимосвязи между рядами
* дополнительные параметры поездок, которые можно посчитать по исходным данным
* внешние календарные и географические признаки

В ходе выполнения проекта вы научитесь:

* работать с геоданными
* прогнозировать временные ряды сложной структуры
* строить и настраивать регрессионные модели, делающие совместные предсказания для большого количества взаимосвязанных рядов

Похожие задачи возникают на практике, если вам необходимо спрогнозировать продажи большого количества товаров в большом количестве магазинов, объём снятия денег в сети банкоматов, посещаемость разных страниц сайта и т.д.

В ходе выполнения проекта у вас будет свобода выбора хода решения, используемых средств анализа, библиотек и моделей. Также обратите внимание, что для его успешного выполнения вам нужно будет скачать и обработать от 10 до 200 гигабайт сырых данных.

Скачайте сырые данные о поездках жёлтого такси с сайта TLC: www.nyc.gov/html/tlc/html/about/trip_record_data.shtml

Поездки зелёного такси и лимузинов нас не интересуют!

Данные выложены в файлах по месяцам. Скачайте так много данных жёлтого такси, как сможете; чем больше вы будете использовать данных, тем точнее получатся ваши прогнозы. Если вы решите использовать не все данные, а только часть, выбирайте её по времени с конца. Абсолютный минимум необходимых данных — 6 месяцев: один, последний месяц, вам понадобится для тестирования, предшествующие 5 — для обучения. По 5 месяцам можно построить прогнозы, учитывающие дневную и недельную сезонности, но в данных есть и годовая. Чтобы её учесть, необходимы данные как минимум за 2 года.

Обработайте сырые данные по следующей схеме:
1. Почистите данные от ошибок и аномалий.
2. Отбросьте минуты и секунды во времени начала поездки.
3. Нью-Йорк вписан в прямоугольник от -74.25559 до -73.70001 градусов долготы и от 40.49612 до 40.91553 широты. Разбейте этот прямоугольник на 2500 одинаковых прямоугольных областей — по 50 интервалов вдоль каждой оси.
4. Посчитайте количество поездок за каждый час из каждой области. Не забудьте, что если в сырых данных для какой-то пары час-область нет ни одной записи, то в агрегированных данных для неё должен стоять 0.

В дальнейшем, когда вы будете предсказывать получившиеся ряды, нужно будет загружать ваши прогнозы на kaggle, поэтому нужно, чтобы идентификаторы ячеек были определены однозначно. В следующем файле даны идентификаторы ячеек, которые вам нужно использовать, и географические координаты их границ:

    regions.csv

Для сдачи задания этой недели вам нужно агрегировать только данные за май 2016, но, когда задание будет сдано, не забудьте запустить ваш агрегирующий скрипт на всех остальных месяцах, которые вы собираетесь использовать при прогнозировании.

Чтобы сдать задание, выполните следующую последовательность действий.

1. Загрузите данные за май 2016 года.

2. Проведите фильтрацию: удалите поездки с

    * нулевой длительностью
    * нулевым количеством пассажиров
    * нулевым расстоянием поездки по счётчику
    * координатами начала, не попадающими в прямоугольник Нью-Йорка

Можно придумать ещё какие-то критерии для фильтрации данных; тем не менее, не стоит применять дополнительные фильтры: начиная с четвёртой недели вам предстоит сравнивать качество ваших прогнозов с качеством прогнозов других слушателей, и, чтобы это сравнение было корректным, нужно, чтобы данные у всех были предобработаны одинаково.

3. Агрегируйте данные за май 2016 года по часам и областям (можно использовать функцию stats.binned_statistic_2d, с которой вы сталкивались в заданиях четвёртого курса). Не забудьте проверить, что идентификаторы, которые вы присваиваете ячейкам, соответствуют приложенному выше файлу.

4. Выведите первые строки полученной таблицы с указанием времени, идентификатора зоны и количества поездок.

5. Постройте график количества поездок жёлтого такси из ячейки, содержащей Empire State Building.

6. Посчитайте, сколько в мае 2016 было пар час-ячейка, для которых не было совершено ни одной поездки.

7. Загрузите ноутбук в форму ниже

In [11]:
import pandas as pd
import numpy as np

In [71]:
%%time
may_2016 = pd.read_csv('../../../Documents/taxi_data/yellow_tripdata_2016-05.csv', 
#                        parse_dates = ['tpep_pickup_datetime','tpep_dropoff_datetime'],
                       dtype={'VendorID':np.int16,
                              'passenger_count': np.float16,
                              'trip_distance':np.float16,
                              'pickup_longitude':np.float32,
                              'pickup_latitude':np.float32,
                              'RatecodeID': np.float16,
                              'dropoff_longitude':np.float32,
                              'dropoff_latitude':np.float32, 
                              'payment_type':np.int16, 
                              'fare_amount':np.float16,
                              'extra':np.float16, 
                              'mta_tax':np.float16, 
                              'tip_amount':np.float16, 
                              'tolls_amount':np.float16,
                              'improvement_surcharge':np.float16, 
                              'total_amount':np.float16})
may_2016.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11836853 entries, 0 to 11836852
Data columns (total 19 columns):
VendorID                 int16
tpep_pickup_datetime     object
tpep_dropoff_datetime    object
passenger_count          float16
trip_distance            float16
pickup_longitude         float32
pickup_latitude          float32
RatecodeID               float16
store_and_fwd_flag       object
dropoff_longitude        float32
dropoff_latitude         float32
payment_type             int16
fare_amount              float16
extra                    float16
mta_tax                  float16
tip_amount               float16
tolls_amount             float16
improvement_surcharge    float16
total_amount             float16
dtypes: float16(10), float32(4), int16(2), object(3)
memory usage: 722.5+ MB
Wall time: 4min 52s

In [81]:
regions = pd.read_csv('regions.csv',sep=';')

In [80]:
may_2016['tpep_pickup_datetime'] = may_2016.tpep_pickup_datetime.apply(lambda x: x[:-3])
may_2016['tpep_dropoff_datetime'] = may_2016.tpep_dropoff_datetime.apply(lambda x: x[:-3])

In [82]:
may_2016.head(3)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RatecodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,1,2016-05-01 00:00,2016-05-01 00:17,1.0,3.599609,-73.985901,40.768040,1.0,N,-73.983986,40.730099,1,15.0,0.5,0.5,1.500000,0.0,0.300049,17.796875
1,2,2016-05-01 00:00,2016-05-01 00:07,1.0,1.679688,-73.991577,40.744751,1.0,N,-73.975700,40.765469,1,7.5,0.5,0.5,0.879883,0.0,0.300049,9.679688
2,2,2016-05-01 00:00,2016-05-01 00:07,6.0,1.089844,-73.993073,40.741573,1.0,N,-73.980995,40.744633,1,6.5,0.5,0.5,1.559570,0.0,0.300049,9.359375

In [89]:
# Проведите фильтрацию: удалите поездки с
# нулевой длительностью
# нулевым количеством пассажиров
# нулевым расстоянием поездки по счётчику
# координатами начала, не попадающими в прямоугольник Нью-Йорка (от -74.25559 до -73.70001  и от 40.49612 до 40.91553)

may_2016 = may_2016[~(may_2016.passenger_count == 0)|
         (may_2016.tpep_pickup_datetime == may_2016.tpep_dropoff_datetime)|
         (may_2016.trip_distance == 0)|
         (may_2016.pickup_longitude < -74.25559)|
         (may_2016.pickup_longitude > -73.70001)|
         (may_2016.pickup_latitude < 40.49612)|
         (may_2016.pickup_latitude > 40.91553)]

Агрегируйте данные за май 2016 года по часам и областям (можно использовать функцию stats.binned_statistic_2d, с которой вы сталкивались в заданиях четвёртого курса). Не забудьте проверить, что идентификаторы, которые вы присваиваете ячейкам, соответствуют приложенному выше файлу.

In [91]:
may_2016.isna().sum()

VendorID                 0
tpep_pickup_datetime     0
tpep_dropoff_datetime    0
passenger_count          0
trip_distance            0
pickup_longitude         0
pickup_latitude          0
RatecodeID               0
store_and_fwd_flag       0
dropoff_longitude        0
dropoff_latitude         0
payment_type             0
fare_amount              0
extra                    0
mta_tax                  0
tip_amount               0
tolls_amount             0
improvement_surcharge    0
total_amount             0
dtype: int64

In [93]:
pd.read_csv('../../../Documents/taxi_data/yellow_tripdata_2019-05.csv',nrows = 5)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2019-05-01 00:14:50,2019-05-01 00:16:48,1,0.0,1,N,145,145,2,3.0,0.5,0.5,0,0,0.3,4.3,0.0
1,1,2019-05-01 00:35:54,2019-05-01 00:37:27,1,1.5,1,N,145,145,2,3.0,0.5,0.5,0,0,0.3,4.3,0.0
2,1,2019-05-01 00:37:45,2019-05-01 00:37:49,1,1.5,1,N,145,145,2,2.5,0.5,0.5,0,0,0.3,3.8,0.0
3,1,2019-05-01 00:44:57,2019-05-01 00:50:11,1,0.7,1,N,161,161,2,5.0,3.0,0.5,0,0,0.3,8.8,2.5
4,1,2019-05-01 00:59:48,2019-05-01 01:10:22,1,2.0,1,N,163,141,1,9.5,3.0,0.5,2,0,0.3,15.3,2.5